@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/css/Index.css" />



<div class="wrapper">
    <div class="static-txt">TO</div>
    <ul class="dynamic-txts">
        <li><span>DO</span></li>
        <li><span>MAKE</span></li>
        <li><span>SEE</span></li>
        <li><span>GET</span></li>
    </ul>
</div>

