<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ListifyWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head> 
<body>
    <header>
        <div >
            <a id="textunderline" asp-page="/Index"><p id="Headlinetext">Listify</p></a>
        </div>
     </header>
     <div id="grid">
        <aside>
            
            <button id="buttonEditDelete" type="submit"><a asp-page="Page2" role="button">Add List</a></button>
            <button id="buttonViewList" type="submit"><a asp-page="Page3" role="button">View List</a></button>
        </aside>
        <main>
            @RenderBody()
        </main> 
    </div>
    <footer>
        <p id="copywrite">©ListifyAB</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>

